<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <fields hint="raw:AddComputedIndexField">
              <!--fullname is used in case 1 and case 2 for demo purpose-->
              <field fieldName="fullname" returnType="text">CustomSXA.Foundation.Search.ComputedFields.FullName, CustomSXA.Foundation.Search</field>
              <!--exactfullname is used in case 3 - for exact search phrase match and is case sensitive-->
              <field fieldName="exactfullname" returnType="string">CustomSXA.Foundation.Search.ComputedFields.FullName, CustomSXA.Foundation.Search</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>